@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ddd;
    font-family: 'Montserrat', sans-serif;
}

.container-mc {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* HOME PAGE */

.medical-clinic {
    position: relative;
    width: 50%;
    overflow: hidden;
}

.background {
    height: 100%;
    background-image: url('img/medical_clinic.jpg');
    background-size: cover;
    background-position: center;
    animation: kenburns-bottom-left 10s ease-in infinite alternate both;
}

.hero-shadow {
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
}

.link-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    padding: 0 20px;
}

.link-form h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
}

.btn-link {
    padding: 20px 40px;
    display: block;
    text-decoration: none
}

.footer {
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 50%;
}

/* FORM */

.back-to-home {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 36px;
    color: royalblue;
    cursor: pointer;
}

.text-section {
    background: royalblue;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.text-section h2 {
    font-size: 38px;
    text-transform: uppercase;
}

.text-section p {
    text-transform: capitalize;
}

.inputs {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
    height: 220px;
}

.inputs input {
    width: 200px;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    background: #ddd;
    text-align: center;
    border: 2px solid transparent;
}

.inputs input:focus {
    border: 2px solid royalblue;
}

.inputs button, .btn-link {
    padding: 10px 20px;
    background: royalblue;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: background .3s;
    font-family: 'Montserrat', sans-serif;
}

.inputs button:hover,
.btn-link:hover {
    background: rgb(17, 65, 206);
}

@keyframes kenburns-bottom-left {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 16% 84%;
        transform-origin: 16% 84%;
    }

    100% {
        -webkit-transform: scale(1.25) translate(-20px, 15px);
        transform: scale(1.25) translate(-20px, 15px);
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
    }
}
