@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ddd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    box-shadow: 1px 1px 10px black;
}

.back-to-home {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 24px;
    color: royalblue;
    cursor: pointer;
}

.back-to-home a {
    color: royalblue;
    padding: 10px 10px;
}

.text-section {
    background: royalblue;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.text-section h2 {
    font-size: 38px;
    text-transform: uppercase;
}

.text-section p {
    text-transform: capitalize;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
    height: 220px;
}

 .inputs input {
    width: 200px;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    background: #ddd;
    text-align: center;
    border: 2px solid transparent;
}

.inputs input:focus {
    border: 2px solid royalblue;
}

.inputs #Button1 {
    border: 0;
    background: royalblue;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .3s;
}
    .inputs #returnBtn {
        border: 0;
        background: royalblue;
        color: #fff;
        padding: 10px 20px;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color .3s;
    }
    .inputs #Button1:hover {
        background-color: #2d5ff5;
    }

.forgot-pass {
    font-size: 14px;
}

.forgot-pass a {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
}
.inputs #Button1.check-email {
    background: black;
    color: #fff;
    cursor: auto;
}

.inputs #Button1.change-password {
    background: black;
}



